.card {
    height: fit-content;
    margin: 10px;
    width: fit-content;
}

.heading_container {
    display: flex;
    justify-content: space-around;
}


.card_image {
    border-radius: 10px;
    height: 290px;
    width: 210px;
}

.shows_container {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show_heading {
    color: white;
}

.no_data {
    color: yellow;
}

@media screen and (max-width: 480px) {
    .shows_container {
        justify-content: center;
    }

    .show_heading {
        margin-top: 150px;
    }
}